// fixes
.nav-view-direction-forward
	background: #fff !important
.nav-bar-block
	position: static !important
.has-header
	top: 0 !important
#at-vk
	background: #567ca4 !important
	color: white !important

// app
.chord
	color: blue
	display: block