@import "http://webfonts.ru/import/robotomono.css"
// fixes
.nav-view-direction-forward
	background: #fff !important
.nav-bar-block
	position: static !important
.has-header
	top: 0 !important
#at-vk
	background: #567ca4 !important
	color: white !important

// app
.chord
	color: blue
	display: block

// landing
.landing
	.content
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		.logo
			width: 140px
			margin: 0 auto
			display: block
			path
				stroke: #d32727
				fill: #DE4F4F
		h1
			color: #d32727
		.button-login
			margin-top: 30px
			width: 170px

// rooms
.rooms .item .gray
	color: gray
	font-size: 12px

// room
.room pre
	font-family: 'Roboto Mono'

